<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
              <rule name="haitao">
                <match url="haitao$" />
                <action type="Rewrite" url="/haitao.html" />
              </rule>
              <rule name="activity1">
                <match url="home/activity1" />
                <action type="Rewrite" url="/activity/activity1.html" />
              </rule>
                <rule name="detail">
                    <match url="^detail/(.*)$" />
                    <action type="Rewrite" url="/detail.html?product={R:1}" />
                </rule>
                <rule name="detailtopic">
                    <match url="^detailtopic/(.*)$" />
                    <action type="Rewrite" url="/detailtopic.html?product={R:1}" />
                </rule>
                <rule name="login">
                    <match url="^userlogin$" />
                    <action type="Rewrite" url="/login.html" />
                </rule>
                <rule name="down">
                    <match url="^down$" />
                    <action type="Rewrite" url="/down.html" />
                </rule>
                <rule name="register">
                    <match url="^user/register$" />
                    <action type="Rewrite" url="/register.html" />
                </rule>
                <rule name="paysuccess">
                    <match url="^paysuccess$" />
                    <action type="Rewrite" url="/paysuccess.html" />
                </rule>
                <rule name="BrandExclusive">
                    <match url="^brandexclusive$" />
                    <action type="Rewrite" url="/special.html" />
                </rule>
                <rule name="BrandExclusiveDetail">
                    <match url="^brandexclusive/(.*)$" />
                    <action type="Rewrite" url="/brandexclusive.html?brand={R:1}" />
                </rule>
                <rule name="specials">
                    <match url="^specials$" />
                    <action type="Rewrite" url="/special.html" />
                </rule>
                <rule name="specialDetail">
                    <match url="^special/(.*)$" />
                    <action type="Rewrite" url="/specialinfo.html?spacial={R:1}" />
                </rule>
                <rule name="specialperson">
                    <match url="^specialperson/(.*)$" />
                    <action type="Rewrite" url="/specialperson.html?cate={R:1}" />
                </rule>
                <rule name="mshareshoppingdetail">
                    <match url="^mshareshoppingdetail/(.*)$" />
                    <action type="Rewrite" url="/shareshoppingdetail.html?share={R:1}" />
                </rule>
                <rule name="coupondetail">
                    <match url="^coupon/(.*)$" />
                    <action type="Rewrite" url="/coupondetail.html?coupon={R:1}" />
                </rule>
                <rule name="receivecoupon">
                    <match url="^receivecoupon$" />
                    <action type="Rewrite" url="/bindUserCouponCode.html" />
                </rule>
                <rule name="usercouponlist">
                    <match url="^usercouponlist$" />
                    <action type="Rewrite" url="/usercoupon.html" />
                </rule>
                <rule name="UserCouponDetail">
                    <match url="^user/usercoupondetail/(.*)$" />
                    <action type="Rewrite" url="/usercoupondetail.html?gift={R:1}" />
                </rule>
                <rule name="ordermanage">
                    <match url="^user/ordermanage$" />
                    <action type="Rewrite" url="/order.html" />
                </rule>
                <rule name="UserOrder">
                    <match url="^user/userorder$" />
                    <action type="Rewrite" url="/order.html" />
                </rule>
                <rule name="promotion">
                    <match url="^promotion$" />
                    <action type="Rewrite" url="/promotion.html" />
                </rule>
                <rule name="biyabipromotion">
                    <match url="^biyabipromotion$" />
                    <action type="Rewrite" url="/biyabipromotion.html" />
                </rule>
                <rule name="promotiontbj">
                    <match url="^promotiontbj$" />
                    <action type="Rewrite" url="/promotiontbj.html" />
                </rule>
                <rule name="mobileapp">
                    <match url="^mobileapp/(.*)$" />
                    <action type="Rewrite" url="/mobileapp.html?id={R:1}" />
                </rule>
                <rule name="index">
                    <match url="^home/index$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="cart" enabled="true" patternSyntax="ExactMatch">
                    <match url="user/usershoppingcart" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/cart.html" logRewrittenUrl="true" />
                </rule>
                <rule name="userIndex">
                    <match url="^user/index$" />
                    <action type="Rewrite" url="/userindex.html" />
                </rule>
                <rule name="search">
                    <match url="^home/search$" />
                    <action type="Rewrite" url="/search.html" />
                </rule>
                <rule name="ForeignBuy">
                    <match url="^home/foreignbuy$" />
                    <action type="Rewrite" url="/haitao.html" />
                </rule>
                <rule name="ShowOffOrder">
                    <match url="^home/showofforder$" />
                    <action type="Rewrite" url="/showofforder.html" />
                </rule>
                <rule name="UserSign">
                    <match url="^user/usersign$" />
                    <action type="Rewrite" url="/usersign.html" />
                </rule>
                <rule name="HomeCoupon">
                    <match url="^home/coupon$" />
                    <action type="Rewrite" url="/coupon.html" />
                </rule>
                <rule name="RecentOrder">
                    <match url="^home/recentorder$" />
                    <action type="Rewrite" url="/recentorder.html" />
                </rule>
                <rule name="CollectInfo">
                    <match url="^user/collectinfo$" />
                    <action type="Rewrite" url="/collectinfo.html" />
                </rule>
                <rule name="ForgetPassword">
                    <match url="^user/forgetpassword$" />
                    <action type="Rewrite" url="/forgetpassword.html" />
                </rule>
                <rule name="ActivityWithoutTransportFee">
                    <match url="^home/activitywithouttransportfee$" />
                    <action type="Rewrite" url="/activitywithouttransportfee.html" />
                </rule>
                <rule name="UserRegisterProtocol">
                    <match url="^user/userregisterprotocol$" />
                    <action type="Rewrite" url="/registerprotocol.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
