/* 提示弹窗 */
.dialog-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;height:100%;
    background:#000;opacity:0.6;
    z-index:10000;
}
.dialog{
    position:absolute;
    width:90%;
    left:5%;
    top:50%;
    padding: 10px;
    background: #fff;
    border-radius:3px;
    -webkit-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    -o-transform:translate(0,-50%);
    transform:translate(0,-50%);
    z-index:10001;
}
.dialog h1{
    font-size:18px;
    font-weight:400;
}
.dialog>p{
    margin:15px 0 0;
    font-weight:400;
    color:#999;
}
.dialog .select-reason{
    display:block;
    margin:4px 0 0 14px;
    font-family:'Microsoft YaHei';
    font-size:14px;
    -webkit-appearance:none;
    border:none;
    outline:none;
}
.dialog .input-reason{
    display:block;
    width:100%;
    margin:10px 0 0;
    padding:4px 0;
    -webkit-appearance:none;
    border-radius:0;
    border:none;
    border-bottom:2px solid #c90000;
    outline:none;
}
.dialog .dialog-bottom{
    padding:24px 0 10px;
    font-size:14px;
}
.dialog-bottom-left{
    float:left;
}
.dialog-bottom-right{
    float:right;
}
.dialog .dialog-bottom a{
    margin:0 0 0 30px;
    padding:6px;
    color:#10906f;
    -webkit-transition:background .2s ease;
    -moz-transition:background .2s ease;
    transition:background .2s ease;
}
.dialog .dialog-bottom a:active{
    background:#f5f5f5;
}
/* toast */
.toast {
    position:fixed;
    bottom:100px;
    left:50%;
    display:inline-block;
    max-width:90%;
    padding:8px 14px;
    background:rgba(0,0,0,0.6);
    color:#fff;
    font-size:12px;
    text-align:center;
    border-radius:5px;
    -webkit-transform:translate(-50%, 0);
    -moz-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
    /*-webkit-animation:slideUpOut 1s 1;*/
    /*animation:slideUpOut 2s 1;*/
    z-index:10000;
}
@keyframes slideUpOutDefault {
    0%   {bottom:80px;opacity:.2}
    10% {bottom:100px; opacity:1;}
    80% {bottom:100px; opacity:1;}
    100% {bottom:100px; opacity:0;}
}
@keyframes slideUpOut {
    0%   {opacity:.2}
    10% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
/* alert,confirm */
.alert-dialog-box,
.confirm-dialog-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    z-index:10000;
}
.alert-dialog-mask,
.confirm-dialog-mask{
    position: absolute;
    left: 0;
    top: 0;
    /* display: none; */
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    cursor:pointer;
}
.alert-dialog,
.confirm-dialog{
    position: absolute;
    top: 30%;
    left: 10%;
    /* display: none; */
    width: 80%;
    background: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}
.alert-content, 
.confirm-content {
    padding: 2rem;
}
.alert-dialog p,
.confirm-dialog p{
    width: 100%;
}
.alert-btn-box,
.confirm-btn-box {
    border-top: 1px solid #d7d7d7;
}
.alert-btn-ok {
    display: block;
    width: 100%;
    padding: 1rem 0;
    font-size: 18px;
    font-weight: 600;
    color: #188CFF;
}
.confirm-btn-box {
    display:-webkit-box;
    display:-moz-box;
    display:-o-box;
    display:box;
}
.confirm-btn-cancle,
.confirm-btn-ok {
    display:-webkit-box;
    display:-moz-box;
    display:-o-box;
    display:box;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    padding: 1rem 0;
    font-size: 18px;
    color: #188CFF;
}
.confirm-btn-ok {
     border-left:1px solid #d7d7d7;
}